html {
  overflow-x: hidden;
}

body {
  position: absolute;
  background-color: rgba(22, 74, 122, 1);
  font-family: "Quicksand", sans-serif;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto; 
}