:root {
  --heading-slide-angle: 4deg;
  --heading-slide-angle-tan: 0.07;
  --heading-slide-start-x: 25dvmax;
  --heading-slide-start-y: calc(var(--heading-slide-start-x) * var(--heading-slide-angle-tan));
}

html {
  overflow-x: hidden;
}

body {
  position: absolute;
  background-color: rgba(22, 74, 122, 1);
  font-family: "Quicksand Variable", sans-serif;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto; 
}