---
import SectionHeading from "../elements/sectionHeading.astro";
---
<section id="bio">
  <SectionHeading
    text={'Projects'}
    id={'bioHeading'}
    isOnRightSide={false}
  />
  <SectionHeading
    text={'Contact Me'}
    id={'techsHeading'}
    isOnRightSide={true}
  />
</section>