---
import SectionHeading from '../elements/sectionHeading.astro';
import SkillChip from '../elements/skillChip.astro';
import skills from '../../data/skills.json';

const delayBetweenSkills = 0.1;

---
<section id="skills">
  <SectionHeading
    text={'Tech Skills'}
    id={'skillsHeading'}
    isOnRightSide={true}
  />
  <ul id="skills__list">
    {skills.map((skill, i) => <SkillChip
      imageName={skill.imageName}
      label={skill.label}
      animationDelay={delayBetweenSkills * i}
    />)}
  </ul>
</section>

<script>
	import { addElementsToObserve, addElementCallback } from '../../helpers/elementObserver';
  const skillsList = document.getElementById('skills__list');

  addElementsToObserve(skillsList);
	addElementCallback(skillsList, () => {
		const skillChips = document.getElementsByClassName('skillChip__container');
    for (const skillChip of skillChips) {
      skillChip.classList.add('skillChip__container--appear');
    }
	});
</script>

<style>
  #skills__list {
    padding-left: 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
