---
import Splash from '../components/sections/splash.astro';
import Bio from '../components/sections/bio.astro';
import Skills from '../components/sections/skills.astro';
import '@fontsource-variable/quicksand';
import Projects from '../components/sections/projects.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jonathan Lam</title>
	</head>
	<body>
		<main id="content">
			<Splash/>
			<Bio/>
			<Skills/>
			<Projects/>
		</main>
	</body>
</html>

<script>
	// Observe section headings
	import { addElementVisibilityTrigger, addElementCallback, addElementsToObserve } from '../helpers/elementObserver';
  addElementsToObserve(document.getElementsByClassName('heading__text'));
	addElementVisibilityTrigger('heading__textRight', 'heading__textRight--appear');
	addElementVisibilityTrigger('heading__textLeft', 'heading__textLeft--appear');

	// when About Me heading first appears, hide scroll arrow
	addElementCallback(document.getElementById('bioHeading'), () => {
		const scrollArrow = document.getElementById('splash__arrow');
		scrollArrow?.classList.remove('scrollArrow__wrapper--show');
		scrollArrow?.classList.add('scrollArrow__wrapper--hide');
	})
</script>

<style is:global>
	:root {
		--ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}

	html {
		overflow-x: hidden;
	}

	body {
		position: absolute;
		background-color: rgba(22, 74, 122, 1);
		color: white;
		font-family: "Quicksand Variable", sans-serif;
		width: 100%;
		margin: 0;
		overflow-x: hidden;
		overflow-y: auto; 
	}

	::selection {
		color: black;
		background: LightSkyBlue;
	}
</style>