---
import ScrollArrow from '../components/scrollArrow.astro';
---
<section id="splash">
  <div class="splash__background"></div>
  <div class="splash__wrapper">
    <h1 class="splash--enter" style="animation-delay: 0.5s;">Jonathan Lam</h1>
    <h3 class="splash--enter" style="animation-delay: 1.25s;">Game and Full-Stack Web Developer</h3>
    <a href="../downloads/resume.pdf" target="_blank" class="splash__resume splash--enter" style="animation-delay: 2s;">Resumé</a>
	</div>
	<ScrollArrow/>
</section>

<style>
	@keyframes splash__entering {
		from {
			opacity: 0;
			transform: translateY(-20px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	#splash {
		margin: 0 auto;
		width: 100vw;
		height: calc(100vh + 200px);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.splash__background {
		width: 100vw;
		height: 100%;
		z-index: -1;
		position: absolute;
		background: linear-gradient(to bottom, rgba(22, 74, 122, 0.5) 0%, rgba(22, 74, 122, 0.5) 100vh, rgba(22, 74, 122, 1)) 100%, #51b5cf url("../img/splash_background.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		filter: blur(5px);
	}

	.splash__wrapper {
		position: relative;
		top: -100px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		& h1 {
			color: white;
			font-size: 6vmax;
			margin: 0;
		}

		& h3 {
			color: white;
			font-size: 3vmax;
			margin: 2vmax 0 3vmax;
		}
	}

	.splash__resume {
		color: white;
		font-size: clamp(1rem, 3vmax, 2.5rem);
		border: 6px solid white;
		padding: 0.75rem 2.5rem;
		border-radius: 3rem;
		text-decoration: none;
	}

	.splash--enter {
		animation-name: splash__entering;
		animation-duration: 1s;
		animation-fill-mode: both;
	}
</style>